@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body {
	font-family: 'Quicksand', sans-serif;
	background: #d3d3d3;
}

.profile-photo img {
	border-radius: 50%;
}

section {
	width: 60%;
	margin: auto;
	text-align: center;
	margin-top: 30px;
}
.links {
	background: #080a17;
	border: 2px solid #080a17;
	padding: 15px;
	margin: 15px 0;
	transition: 0.2s ease-in;
	color: white;
}
a {
	text-decoration: none;
	color: black;
}
.links:hover {
	background: transparent;
	color: #000;
}
@media screen and (max-width: 720px) {
	section {
		width: 100%;
	}
}
